/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Truculenta:wght@300;400;600&display=swap');

/*---- Screen setup -----*/
body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../images/clouds-background.png") top right;
}

h1 {
  font-family: 'Ranchers', serif;
}

h2 {
  font-family: 'Truculenta', serif;
  margin: 0;
}

h3 {
  font-family: 'Truculenta', serif;
  margin: 0;
}

.modal-header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: transparent;
}

.modal-content {
  /* background-color: #40C6FF; */
  background: url("../images/clouds-background.png") top right;
  background-size: 150%;
}

.modal-footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: transparent;
}

#score-column {
  height: 100vh;
}

/*These are the elements that the main menu and game components will be set within.  there are five positions in total*/
#position-zero {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*width: 100%;*/
  /*border: 10px solid red;*/
}

#position-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*border: 10px solid red;*/
  text-align: center;
}

#position-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*border: 8px solid red;*/
}

#position-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*border: 10px solid red;*/
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#position-four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*border: 10px solid red;*/
}

/*These are the settings for the four main menu and game component elements during the main menu and game difficulty selection*/

/*Houses the Game title only*/
.position-zero-menu {
  height: 7vh;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.position-one-menu {
  height: 40vh;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/*Houses the guiding text for each difficulty option*/
.position-two-menu {
  height: 5vh;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Houses all of the game options selection buttons*/
.position-three-menu {
  height: 48vh;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.position-four-menu {
  height: 0vh;
}

/*These are the settings for the five main menu and game component elements during the game*/

/*Contains the tablet and mobile view buttons*/
.position-zero-game {
  height: 0vh;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Contains the timer countdown display*/
.position-one-game {
  height: 18vh;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Contains the pattern grid*/
.position-two-game {
  height: 60vh;
  width: 100%;
  /*---------------- new -------*/
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Contains the Palette*/
.position-three-game {
  height: 15vh;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*Contains the submit button*/
.position-four-game {
  height: 7vh;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*These are the settings for position-three and position four to display the between round and end of game message*/
.position-one-message {
  height: 18vh;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.position-three-message {
  height: 22vh;
  width: 100%;
  margin-top: 0;
  /*display: flex;*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.position-four-message {
  height: 0vh;
}

#score-column {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 50px rgba(255, 255, 255, 0.5), 0 0 50px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 50px rgba(255, 255, 255, 0.5), 0 0 50px rgba(255, 255, 255, 0.5);
}

#score-column-header {
  text-align: center;
}

#title h1 {
  font-size: 10em;
  text-shadow: 0 0 50px #ffffff, 0 0 50px #ffffff;
  text-align: center;
  letter-spacing: -5px;
  line-height: 1;
  margin-bottom: 2rem;
}

.h1-red {
  color: #ff0000;
}

.h1-green {
  color: #008000;
}

.h1-blue {
  color: #0000ff;
}

.h1-yellow {
  color: #ffff00;
}

.menu-text {
  font-size: 3em;
  text-shadow: 0 0 50px #ffffff, 0 0 50px #ffffff;
  text-align: center;
  letter-spacing: -2px;
  color: grey;
  margin-bottom: 20px;
}

/*------------------- buttons ------------------------*/

.btn {
  font-weight: 400;
  margin: 5px 2px 5px 2px;
  height: 40px;
  width: 170px;
  font-family: 'Truculenta', serif;
  font-size: 1.5rem;
  padding: 0;
}

.btn:hover {
  width: 185px;
  color: white;
}

.btn-red {
  background-color: #ff0000;
  color: white;
}

.btn-green {
  background-color: #008000;
  color: white;
}

.btn-blue {
  background-color: #0000ff;
  color: white;
}

.btn-yellow {
  background-color: #ffff00;
  color: grey;
}

.btn-yellow:hover {
  width: 185px;
  color: grey;
  border: solid 2px #FFDE21;
}

#contact-button {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: white;
}

#contact-button:hover {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.fa-envelope-square {
  color: grey;
}

/* ---- styles for the contact form ----*/

#contact-form-text {
  text-align: justify;
  text-justify: inter-word;
  margin: 0px 10px;
}

.text-input {
  width: 80%;
  margin-top: 10px;
  border: 1px grey solid;
}

#contact-form-top {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 0 50px rgba(255, 255, 255, 0.6), 0 0 50px rgba(255, 255, 255, 0.6);
          box-shadow: 0 0 50px rgba(255, 255, 255, 0.6), 0 0 50px rgba(255, 255, 255, 0.6);
  border-radius: 25px 25px 0px 0px;
}

#contact-form-bottom {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 0 50px rgba(255, 255, 255, 0.6), 0 0 50px rgba(255, 255, 255, 0.6);
          box-shadow: 0 0 50px rgba(255, 255, 255, 0.6), 0 0 50px rgba(255, 255, 255, 0.6);
  border-radius: 0px 0px 25px 25px;
}

#contact-mm-btn {
  text-align: center;
}

/* ---- styles for function generateGrid() ----*/
.grid {
  /*width: 100%;*/
  max-width: 500px;
}

.square-row {
  width: 100%;
}

.squares3 {
  width: 33%;
  padding-top: 33%; /*maintains an aspect-ratio of 1 / 1.*/
  border: solid 1px black;
}

.squares4 {
  width: 25%;
  padding-top: 25%; /*maintains an aspect-ratio of 1 / 1.*/
  border: solid 1px black;
}

#submitButton {
  margin: 20px 0px;
}

/* ---- styles for palette ----*/

#palette-area {
  border-radius: 25px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0px;
}

#palette-red,
#palette-green,
#palette-blue,
#palette-yellow,
#palette-purple,
#palette-orange {
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 50%;
}

#palette-red {
  background-color: #ff0000;
}

#palette-green {
  background-color: #008000;
}

#palette-blue {
  background-color: #0000ff;
}

#palette-yellow {
  background-color: #ffff00;
}

#palette-purple {
  background-color: #800080;
}

#palette-orange {
  background-color: #ffa500;
}

.color-selected {
  border: solid black 5px;
}

.color-deselected {
  border: transparent;
}

/*------------------ timer -------------------------*/

#view-timer {
  font-size: 5em;
  font-family: 'Ranchers', serif;
  color: grey;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 50px rgba(255, 255, 255, 0.5);
}

.round-score-box {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0 0 50px rgba(255, 255, 255, 0.7), 0 0 50px rgba(255, 255, 255, 0.7);
          box-shadow: 0 0 50px rgba(255, 255, 255, 0.7), 0 0 50px rgba(255, 255, 255, 0.7);
  margin: 2px;
  border-radius: 25px;
  width: 100%;
  text-align: center;
}

#messages-box {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 0 50px rgba(255, 255, 255, 0.6), 0 0 50px rgba(255, 255, 255, 0.6);
          box-shadow: 0 0 50px rgba(255, 255, 255, 0.6), 0 0 50px rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  width: 30%;
  text-align: center;
}

/*---------------------------- MEDIA QUERIES------------------------------*/
@media screen and (max-width: 1024px) {
  .btn {
    height: 35px;
    width: 150px;
    font-size: 1.25rem;
  }

  #palette-red,
  #palette-green,
  #palette-blue,
  #palette-yellow,
  #palette-purple,
  #palette-orange {
    height: 90px;
    width: 90px;
    margin: 5px;
  }
}

@media screen and (max-width: 992px) {
  .position-zero-game {
    height: 7vh;
    /*Provides space for the mobile buttons to show*/
  }

  .position-one-game {
    height: 11vh;
    /*reduction is space for the mobile buttons to show above during the game*/
  }

  .position-one-message {
    height: 11vh;
    /*reduction is space for the mobile buttons to show above during the end of round/game screen*/
  }

  #messages-box {
    width: 50%;
  }
}

@media screen and (max-width: 620px) {
  .position-two-game {
    height: 50vh;
  }

  .position-three-game {
    height: 25vh;
  }

  #palette-red,
  #palette-green,
  #palette-blue,
  #palette-yellow,
  #palette-purple,
  #palette-orange {
    height: 80px;
    width: 80px;
    margin: 5px;
  }
}

@media screen and (max-width: 480px) {
  #title h1 {
    font-size: 8em;
  }

  /*.position-two-game {
    height: 50vh;
  }

  .position-three-game {
    height: 25vh;
  }*/

  #messages-box {
    width: 80%;
  }
}

@media screen and (max-width: 380px) {
  #title h1 {
    font-size: 5.25em;
    padding-top: 10px;
  }

  .position-one-menu {
    height: 41vh;
  }

  .position-three-menu {
    height: 55vh;
  }

  .position-two-game {
    height: 45vh;
  }

  .position-three-game {
    height: 27vh;
  }

  .position-four-game {
    height: 10vh;
  }

  .position-one-message {
    height: 20vh;
    /*increase in space for the compare text and button to show at lower resolution*/
  }

  .position-three-message {
    height: 28vh;
  }

  .btn {
    height: 32px;
    width: 137px;
    font-size: 1rem;
  }

  .menu-text {
    font-size: 2em;
  }

  #view-timer {
    font-size: 4em;
  }

  #palette-area {
    margin: 5px 0px;
  }

  #palette-red,
  #palette-green,
  #palette-blue,
  #palette-yellow,
  #palette-purple,
  #palette-orange {
    height: 55px;
    width: 55px;
    margin: 2px 6px;
  }

  #messages-box {
    width: 95%;
  }
}