@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Truculenta:wght@300;400;600&display=swap');

/*---- Screen setup -----*/
body {
    height: 100vh;
    /*background: url("") no-repeat center center fixed;
    background-size: cover;*/
    background-color: aqua;
    font-family: 'Truculenta', sans-serif;
    font-size: x-large;
    font-weight: 400;
}

#left-column {
    height: 100vh;
    background-color: rgba(255,0,0,0.3);
    text-align: center;
}

#right-column {
    height: 100vh;
    background-color: rgba(0,255,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#game-area {
    height: 70%;
    width: 70%;
    position: absolute;
    background-color: rgba(255,255,255,0.3);
}

/* ---- styles for function generateGrid() ----*/
.container3x3 {
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.board3 {
    height: 200px;
    border: solid 1px black;
}

.container4x4 {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
}

.board4 {
    height: 150px;
    border: solid 1px black;
}

.container5x5 {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px;
}

.board5 {
    height: 120px;
    border: solid 1px black;
}

#submitButton {
    margin: 20px 0px;
}