@import url('https://fonts.googleapis.com/css2?family=Ranchers&family=Truculenta:wght@300;400;600&display=swap');

/*------------------- Screen setup ------------------------*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../images/clouds-background.png") top right;
}

/*style class to ensure that within the game, all elements are to be kept within the view height of the screen of the device so no scrolling is required whilst playing*/
.single-screen {
  height: 100vh;
}

/*---- These are the settings for <div> elements that are in index.html that the main menu and game components will be set within.  
There are five positions in total (however position-zero is not styled here) ----*/

#position-one {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#position-two {
  display: flex;
  flex-direction: column;
}

#position-three {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

#position-four {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*---- These are the specific settings for the five positions during the main menu and game difficulty selection screens ----*/

/*Nothing in position-zero*/
.position-zero-menu {
  height: 0vh;
}

/*Specific settings required in the menu to position the game title*/
.position-one-menu {
  height: 40vh;
  margin-top: 0;
  justify-content: flex-end;
}

/*Specific settings required in the menu to position the guiding text for each difficulty option*/
.position-two-menu {
  height: 5vh;
  margin-top: 0;
  justify-content: center;
}

/*Specific settings required in the menu to position all of the game options selection buttons*/
.position-three-menu {
  height: 48vh;
  margin-top: 0;
  width: 100%;
  justify-content: flex-start;
}

/*Specific settings required in the menu to position the social media icons and contact icon*/
.position-four-menu {
  height: 7vh;
}

/*---- These are the specific settings for the five positions during the game screens ----*/

/*Specific settings required in the game to position the tablet and mobile view buttons when they are required*/
.position-zero-game {
  height: 0vh;
  margin-top: 0;
  display: flex;
  justify-content: center;
}

/*Specific settings required in the game to position the view timer or 'go' button*/
.position-one-game {
  height: 18vh;
  margin-top: 0;
  justify-content: flex-end;
  align-items: center;
}

/*Specific settings required in the game to position the grid during the pattern display and when being filled in by the player*/
.position-two-game {
  height: 60vh;
  width: 100%;
  margin-top: 0;
  justify-content: center;
  align-items: center;
}

/*Specific settings required in the game to position the colour palette*/
.position-three-game {
  height: 15vh;
  margin-top: 0;
  justify-content: center;
}

/*Specific settings required in the game to position the submit button*/
.position-four-game {
  height: 7vh;
  margin-top: 0;
}

/*---- These are the specific settings detailing changes to some positions required during the game screen to show the end of round/game messages ----*/

/*Specific settings required for position-one to position the compare results text and button*/
.position-one-message {
  height: 15vh;
  margin-top: 0;
  justify-content: flex-end;
  align-items: center;
}

/*Specific settings required for position-three to position the end of round/game messages below the grid*/
.position-three-message {
  height: 25vh;
  width: 100%;
  margin-top: 0;
  justify-content: flex-start;
}

/*Specific settings required for position-four to position the end of round/game messages below the grid*/
.position-four-message {
  height: 0vh;
}

/*---- These are the specific settings for the score column ----*/
#score-column {
  height: 100vh;
}

#score-column {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.5), 0 0 50px rgba(255, 255, 255, 0.5);
}

#score-column-header {
  text-align: center;
}

/*------------------- Fonts & Text styles ------------------------*/

h1 {
  font-family: 'Ranchers', serif;
  color: #666666;
}

h2,
h3,
h4 {
  font-family: 'Truculenta', serif;
  margin: 0;
  color: #666666;
}

/*positions and styles the landing page title*/
#title h1 { 
  font-size: 10em;
  text-shadow: 0 0 50px #ffffff, 0 0 50px #ffffff;
  text-align: center;
  letter-spacing: -5px;
  line-height: 1;
  margin-bottom: 2rem;
}

/*positions the titles on the high scores and how to play pages*/
.title-text { 
  margin-top: 100px;
  text-align: center;
}

/*styles the titles on the high scores and how to play pages*/
.title-text h1 { 
  font-size: 5em;
  text-shadow: 0 0 50px #ffffff, 0 0 50px #ffffff;
  letter-spacing: -5px;
  line-height: 1;
  margin-bottom: 2rem;
}

/*positions the subtitles on the high scores and how to play pages*/
.subtitle-text { 
  margin-top: 25px;
  text-align: center;
}

/*styles the subtitles on the high scores and how to play pages*/
.subtitle-text h1 { 
  font-size: 3em;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 2rem;
}

/*class for styling text and letters red*/
.text-red { 
  color: #ff0000;
}

/*class for styling text and letters green*/
.text-green { 
  color: #008000;
}

/*class for styling text and letters blue*/
.text-blue { 
  color: #0000ff;
}

/*class for styling text and letters yellow*/
.text-yellow { 
  color: #ffff00;
}

/*styles the <h2> text above the buttons on the main menu page*/
.menu-text {
  font-size: 3em;
  text-shadow: 0 0 50px #ffffff, 0 0 50px #ffffff;
  text-align: center;
  letter-spacing: -2px;
  color: grey;
  margin-bottom: 20px;
}

/*styles the paragraph text in the contact and instructions pages*/
.justified-text {
  text-align: justify;
  text-justify: inter-word;
  margin: 0px 10px;
}

/*styles view timer countdown text*/
#view-timer {
  font-size: 5em;
  font-family: 'Ranchers', serif;
  color: #666666;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 50px rgba(255, 255, 255, 0.5);
}

/*------------------- Modal styles ------------------------*/

.modal-content {
  background: url("../images/clouds-background.png") top right;
  background-size: 150%;
}

/*prevents and overwrites modal styles from bootstrap*/
.modal-header {
  justify-content: center;
  border-bottom: transparent;
}

/*prevents and overwrites modal styles from bootstrap*/
.modal-footer {
  justify-content: center;
  border-top: transparent;
}

/*------------------- button styles ------------------------*/

/*site wide styles for the buttons*/
.btn {
  font-weight: 400;
  margin: 5px 2px;
  height: 40px;
  width: 170px;
  font-family: 'Truculenta', serif;
  font-size: 1.5rem;
  padding: 0;
}

.btn:hover {
  width: 185px;
  /*stops the bootstrap style of turning the text black upon hover*/
  color: #ffffff;
  transition: all 0.15s ease-in-out;
}

/*required style change for the undo button on the menu screens*/
.u-btn {
  width: 40px;
}

/*styles for the red, green, blue and yellow buttons*/
.btn-red {
  background-color: #ff0000;
  color: #ffffff;
}

.btn-green {
  background-color: #008000;
  color: #ffffff;
}

.btn-blue {
  background-color: #0000ff;
  color: #ffffff;
}

.btn-yellow {
  background-color: #ffff00;
  color: #808080;
}

/*stops the text of the yellow button going white upon hover*/
.btn-yellow:hover {
  color: #808080;
}

/*positions the 'go' button in game (that displayed instead of view timer if chosen) so that it does not overlap with the grid*/
#go-button {
  margin-bottom: 20px;
}

/*positions the contact and social link buttons on the main menu page so they do not sit too high*/
.contact-links {
  margin-bottom: -3px;
}

/*styles the contact and social link buttons on the main menu page*/
#contact-button,
#facebook-button,
#instagram-button {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: white;
}

.u-btn:hover,
#contact-button:hover,
#facebook-button:hover,
#instagram-button:hover {
  width: 45px;
  transition: all 0.25s ease-in-out;
}

/*styles and positions the facebook and instagram fontawesome icons within the buttons*/ 
.fab {
  font-size: 25px;
  margin: 7px 0px 0px 1px;
  color: #F0F1EB;
  transition: all 0.25s ease-in-out;
}

.fa-undo-alt {
  padding: 7px 0px 0px 1px;
}

/*styles and positions the envelope fontawesome icon within the button*/ 
.fa-envelope-square {
  margin-top: 7px;
  color: grey;
}

/*------------------- contact page specific styles ------------------------*/

#feedback-form { 
  margin: 10% 2%;
}

.text-input { 
  width: 80%;
  margin-top: 10px;
  border: 1px grey solid;
}

#contact-form-top,
#contact-form-bottom { 
  text-align: center;
}

#contact-form-bottom {
  margin-top: 20px;
}

#contact-mm-btn {
  text-align: center;
  margin-bottom: 10px;
}

/*------------------- instructions page specific styles ------------------------*/

.instructions-box {
  margin: 20px 0px;
  max-width: 1000px;
  width: 80%;
  padding: 10px;
}

/*styles for the table shown in the difficulty guide section*/
table, 
th, 
td {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
}

/*------------------- high scores page specific styles ------------------------*/

.high-score-box {
  width: 100%;
  max-width: 300px;
  margin: 20px 5px;
  text-align: center;
}

li.high-score {
  margin-right: 30px;
  list-style-position: inside;
  font-family: 'Truculenta', serif;
  font-size: x-large;
}

/*------------------- Grid styles (function generateGrid()) ------------------------*/

/*the max-width of '.grid' and width of '.square-row' work together to ensure that the grid is responsive at 
lower resolutions but has a maximum width at high resolutions*/
.grid {
  max-width: 550px;
}

.square-row {
  width: 100%;
}

/*the styling for a 3x3 grid*/
.squares3 {
  width: 33%;
  padding-top: 33%;
  /*maintains an aspect-ratio of 1 / 1.*/
  border: solid 1px black;
}

/*the styling for a 4x4 grid*/
.squares4 {
  width: 24.5%;
  padding-top: 24.5%;
  /*maintains an aspect-ratio of 1 / 1.*/
  border: solid 1px black;
}

/*------------------- palette styles (generatePalette()) ------------------------*/

/*position and styles for the white bckground for the palette*/ 
#palette-area {
  border-radius: 25px;
  background-color: #ffffff;
  margin: 20px 0px;
}

/*position and styles for all of the colours presented within the palette*/
#palette-red,
#palette-green,
#palette-blue,
#palette-yellow,
#palette-purple,
#palette-orange {
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 50%;
}

/*individual styles for the colours presented within the palette*/
#palette-red {
  background-color: #ff0000;
}

#palette-green {
  background-color: #008000;
}

#palette-blue {
  background-color: #0000ff;
}

#palette-yellow {
  background-color: #ffff00;
}

#palette-purple {
  background-color: #800080;
}

#palette-orange {
  background-color: #ffa500;
}

/*temporary style applied to a selected colour from the palette*/
.color-selected {
  border: solid black 5px;
}

/*style applied when the colour is not selected*/
.color-deselected {
  border: transparent;
}

/*------------------ within game message styles -------------------------*/

/*style applied to most of the game to give a cloud like look to background of the text and any message boxes that appear*/
.cloud-box {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.6), 0 0 50px rgba(255, 255, 255, 0.6);
  border-radius: 25px;
}

/*position style for end of round messages (gameStatus())*/
.messages-box {
  position: absolute;
}

/*position and styles for end of round messages (gameStatus()) and high score message at end of game (displayHighScore())*/
.messages-box,
.save-score-box {
  width: 30%;
  margin-top: 20px;
  align-items: center;
  text-align: center;
}

/*styles for round results shown in the results column and results modal*/
.round-results-box {
  margin: 10px 2px;
  border-radius: 25px;
  width: 100%;
  text-align: center;
}

/*style for the player name entry on the end game high score message if a high score has been achieved*/
#playername {
  width: 92%;
}

/*position style for the text and button that appears above the grid to compare player pattern with the computers*/
.compare-box {
  margin-bottom: 10px;
}

/*---------------------------- MEDIA QUERIES------------------------------*/
@media screen and (max-width: 1400px) {
  .grid {
    max-width: 465px; /*reduces max width of grid slightly to accomodate other elements of the game at lower resolutions*/
  }
}

@media screen and (max-width: 992px) {
  .position-zero-game {
    height: 7vh; /*Provides space for the mobile buttons to show*/
  }

  .position-one-game {
    height: 11vh; /*reduction is space for the mobile buttons to show above during the game*/
  }

  .position-one-message {
    height: 13vh; /*reduction is space for the mobile buttons to show above during the end of round/game screen*/
  }

  .messages-box,
  .save-score-box {
    width: 50%;
  }
}

@media screen and (max-width: 780px) {
  #contact-button:hover,
  #facebook-button:hover,
  #instagram-button:hover {
    width: 40px; /*removes button hover at tablet and mobile resolutions so that no change in buttons when tapped*/
  }

  .btn:hover {
    width: 170px; /*removes button hover at tablet and mobile resolutions so that no change in buttons when tapped*/
  }
  
  .position-two-game {
    height: 55vh;
  }

  .position-three-game {
    height: 25vh;
  }

  #palette-red,
  #palette-green,
  #palette-blue,
  #palette-yellow,
  #palette-purple,
  #palette-orange {
    height: 90px;
    width: 90px;
    margin: 5px;
  }

  .compare-box {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 620px) {
  #palette-red,
  #palette-green,
  #palette-blue,
  #palette-yellow,
  #palette-purple,
  #palette-orange {
    height: 80px;
    width: 80px;
    margin: 5px;
  }
}

@media screen and (max-width: 480px) {
  #title h1 {
    font-size: 8em;
  }

  h2 {
    font-size: calc(1.1rem + .9vw);
  }

  h3 {
    font-size: calc(1.1rem + .6vw);
  }

  h4 {
    font-size: calc(1rem + .3vw);
  }

  .menu-text {
    font-size: 2.5em;
  }

  .messages-box,
  .save-score-box {
    width: 80%;
  }
}

@media screen and (max-width: 380px) {
  #title h1 {
    font-size: 5.5em;
  }

  .position-two-game {
    height: 45vh;
  }

  .position-three-game {
    height: 27vh;
  }

  .position-four-game {
    height: 10vh;
  }

  .position-one-message {
    height: 20vh;
  }

  .position-three-message {
    height: 28vh;
  }

  #view-timer {
    font-size: 4em;
  }

  #palette-area {
    margin: 5px 0px;
  }

  .messages-box,
  .save-score-box {
    width: 95%;
  }

  #go-button {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 330px) {
  #title h1 {
    margin-bottom: 1.25rem
  }

  .subtitle-text h1 { 
    font-size: 2.5em;
  }

  .menu-text {
    font-size: 1.75em;
  }

  .btn {
    margin: 2px 2px;
    height: 32px;
    width: 137px;
    font-size: 1.25rem;
  }

  .btn:hover {
    width: 137px; /*removes button hover at this mobile resolutions so that no change in buttons when tapped*/
  }

  #contact-button,
  #facebook-button,
  #instagram-button {
    height: 33px;
    width: 33px;
  }

  #contact-button:hover,
  #facebook-button:hover,
  #instagram-button:hover {
    width: 33px; /*removes button hover at this mobile resolutions so that no change in buttons when tapped*/
  }

  .fab {
    font-size: 20px;
    margin: 5px 0px 0px 1px;
    color: #F0F1EB;
    transition: all 0.25s ease-in-out;
  }

  .position-one-game {
    justify-content: center;
  }

  #view-timer {
    font-size: 3em;
  }

  #palette-red,
  #palette-green,
  #palette-blue,
  #palette-yellow,
  #palette-purple,
  #palette-orange {
    height: 54px;
    width: 54px;
    margin: 2px 4px;
  }

  .position-one-message {
    justify-content: center;
  }

  .messages-box,
  .save-score-box {
    margin-top: 5px;
  }
}